[submodule "MAObjCRuntime"]
	path = MAObjCRuntime
	url = https://github.com/diejmon/MAObjCRuntime.git
[submodule "DateTools"]
	path = DateTools
	url = https://github.com/MatthewYork/DateTools.git
[submodule "WYPopoverController"]
	path = WYPopoverController
	url = https://github.com/sammcewan/WYPopoverController.git
